// prisma.config.ts
import 'dotenv/config'
import { defineConfig, env } from 'prisma/config'

export default defineConfig({
  schema: 'prisma/schema.prisma',
  migrations: {
    path: 'prisma/migrations',
  },
  datasource: {
    url: env('prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19VbXNrSEhWakRTa09DM1NISG82YzkiLCJhcGlfa2V5IjoiMDFLQk43UEJKUU02QVlROTVSNDdFUVE2Rk4iLCJ0ZW5hbnRfaWQiOiIxNjFlMzhkMTY1ZTEyZjIwZjhmNTY3MWYxOGNmY2ZiN2FhY2RlOTI5NmNmYmZiNjNiOWNkNjM0ZGUzNWM3OGE5IiwiaW50ZXJuYWxfc2VjcmV0IjoiZDlmMGE3OWYtMTYwNi00OTY5LWIyMGItYTQyNzJjYWYzNzViIn0.ygdgzYH_lPbQzzhPdWJUnYrO-uYsJgR6OGF77x1n-XY'),
  },
})
        